<div id="podcast_show">
			<div id="show_banner">
				<h1><%= @podcast.title %></h1>
			</div>

			<div id="episodes">
				<div class="wrapper_skinny">
					<ul class="clearfix">
						<li class="clearfix">
							<div class="episode_thumbnail">
								<a href="#">
									<img src="s1.jpg">
								</a>
							</div>
							<div class="episode_overview">
								<h2><a href="#">Acid Rap by Chance the rapper</a></h2>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>